<section id="tech" class="cta bg-primary text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="col-sm-12">
      <h3 class="margin-info">Tecnologías</h3>
      <hr>
      <p>¿No esta lo que buscas?,</p>
      <p class="margin-info">
        CO Tech es una empresa comprometida y a la vanguardia,
        pregunta por las tecnologías que te interesen.
      </p>
    </div>

    <div class="row content_logo">
      <div class="col-sm-4 col-xs-4">
        <img src="./assets/img/android2.png" class="img-responsive logos" alt="">
      </div>
      <div class="col-sm-4 col-xs-4">
        <img src="./assets/img/angular2.png" class="img-responsive logos" alt="">
      </div>
      <div class="col-sm-4 col-xs-4">
        <img src="./assets/img/ios.png" class="img-responsive logos" alt="">
      </div>
    </div>
    <br>
    <br>
    <div class="row content_logo">
      <div class="col-sm-4 col-xs-4"><br>
        <img src="./assets/img/esecuele.png" class="img-responsive logos" alt="">
      </div>
      <div class="col-sm-4 col-xs-4">
        <img src="./assets/img/firebase.png" class="img-responsive logos" alt="">
      </div>
      <div class="col-sm-4 col-xs-4">
        <img src="./assets/img/mongo.png" class="img-responsive logos" alt="">
      </div>
    </div>

    <div class="row content_logo">
      <div class="col-sm-4 col-xs-4">
        <img src="./assets/img/net.png" class="img-responsive logos" alt="">
      </div>
      <div class="col-sm-4 col-xs-4">
        <img src="./assets/img/node2.png" class="img-responsive logos" alt="">
      </div>
      <div class="col-sm-4 col-xs-4">
        <img src="./assets/img/peachepe.png" class="img-responsive logos" alt="">
      </div>
    </div>
  </div>
</section>
