<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>Imaginamos,<br> diseñamos y creamos</h1>
            <h3>Somos un equipo de desarrollo de software enfocado en optimizar, gestionar y facilitar tus procesos.</h3>

            <a href="#features" class="btn btn-outline btn-xl page-scroll">Portafolio</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
      </div>
    </div>
  </div>
</header>
