<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>Clientes</h2>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="badges">
          <img src="./assets/img/chaparral1.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="badges">
          <img src="./assets/img/integralegal2.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="badges">
          <img src="./assets/img/voluntariado2.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="badges">
          <img src="./assets/img/macho.png" class="img-responsive" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-xs-6">
        <div class="badges">
          <img src="./assets/img/siac.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="badges">
          <img src="./assets/img/ilt.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="badges">
          <img src="./assets/img/integrate.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="badges">
          <img src="./assets/img/soles.png" class="img-responsive" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-xs-6">
        <div class="badges">
          <img src="./assets/img/provida.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="badges">
          <img src="./assets/img/casita.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="badges">
          <img src="./assets/img/diafruv.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="badges">
          <img src="./assets/img/corporativo.png" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
