<section id="download" class="download bg-primary text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>¿Qué hacemos?</h2>
        <hr>
      </div>
      <div class="col-md-4">
        <div class="badges">
          <img src="./assets/img/serv1.png" class="img-responsive margin-info center-block" alt="Responsive image">
          <h3>Diseño Digital</h3>
          <hr>
          <p>Diseño de UI, UX e interacción. Así como diseño de identidad corporativa y más.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="badges">
          <img src="./assets/img/serv2.png" class="img-responsive margin-info center-block" alt="Responsive image">
          <h3>Desarrollo a la Medida</h3>
          <hr>
          <p>Desarrollo de software para dar solución a los problemas de tu negocio. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="badges">
          <img src="./assets/img/serv3.png" class="img-responsive margin-info center-block" alt="Responsive image">
          <h3>Consultoría</h3>
          <hr>
          <p>Ayudamos a resolver tus dudas y dar la mejor solución de acuerdo a tus necesidades.</p>
        </div>
      </div>
    </div>
  </div>
</section>
